---
import { IHeroProps } from "@types";

const { name, about } = Astro.props as IHeroProps;
---

<section class="hero-section">
  <div class="hero-content">
    <p class="dark:text-light mt-[117px]">Hey, I’m</p>
    <h1 class="main-heading">{name}</h1>
    <p class="dark:text-light text-lg mb-16 about-text">
      {about}
    </p>
  </div>
</section>
